*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: black;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  min-width: auto;
}

.music-Player{
  display: block;
  background-color: black;
  padding: 50px;
  border-radius: 16px;
  box-shadow: grey;
}

.music-Player > h4{
  color: aliceblue;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.music-Player > p{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.music-PlayerDetails .details-img{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.music-PlayerDetails .details-img img{
  display: block;
   margin: 0px auto;
   width: 100%;
   max-width: 250px;
   border-radius: 50%;
   box-shadow: whitesmoke;
}

.music-PlayerDetails .title-details{
  color: antiquewhite;
  font-size: 38px;
  text-shadow: darkgray;
  text-align: center;
  margin-bottom: 10px;
}

.music-PlayerDetails .title-artist{
  color: grey;
  font-size: 38px;
  text-shadow: black;
  text-align: center;
  margin-bottom: 10px;
}

.music-PlayerControls .play-btn{
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: cornsilk;
  color: darkblue;
  font-size: 24px;
  cursor: pointer;
}


.music-PlayerControls .skip-btn{
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: cornsilk;
  color: grey;
  font-size: 18px;
  cursor: pointer;
}